/* === Region body === */
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    padding-top: 10vh;
    width: 100%;
    height: 100%;
    background-image: url("/indexPictures/background3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
} 
/* endregion */




/* === Region Nav === */
nav {
    width: 100vw;
    height: 10vh;
    display: flex;
    background-color: rgb(233, 233, 233);
    padding: 20px;
    z-index: 10;    
    position: fixed;
    top: 0;
}
nav h1 {
    margin: 0;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.title-name {
    text-align: center;
    font-size: 1.8rem;
    margin-left: 15px;
}


.navbar-stuff {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.navbar-stuff ul li {
    list-style-type: none;
    float: left;
    margin: 5px;
    font-size: 1.8rem;
}
.navbar-stuff ul li:nth-child(1) {
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-stuff ul li:nth-child(2) {
    border-right: 1px solid black;
    padding-right: 15px;
}

.playlist-spotify {
    text-align: center;
    width: 500px;
    font-size: 30px;
    transition: 750ms ease;
    display: grid;
    grid-template-rows: 1.5em 0fr;
    position: absolute;
    right: 50px;
    top: 33%;
    z-index: 2;
}
.playlist-spotify p:nth-child(1) {
    margin: 0;
    font-size: .75em;
}
.playlist-spotify:hover {
    cursor: pointer;
    text-decoration: underline;
}
.hidden-spotify-div {
    display: none;
    overflow: hidden;
}
.open {
    grid-template-rows: 1.5em 1fr;
    background-color: rgba(50, 50, 50, 0.3);
}
.playlist-spotify.open .hidden-spotify-div {
    display: block;
}
nav iframe {
    width: 80%; 
    height: 152px; 
    transition: transform 750ms; 
}

/* endregion */


/* === Region Main === */
main {
    width: 100%;     
    min-height: calc(100vh - 70px);        
    margin: 0 auto;
    z-index: -1;
    margin-top: 10vh;
}
.main-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.all-projects-div {
    width: min(1000px, 100%);
    padding: 20px;   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    margin: 0 auto;
    columns: 3 300px;
    column-gap: 1em;
    line-height: 2em;
    display: block;
    margin-bottom: 1em;
    text-align: center;

}
.all-projects-div img {
    width: 300px;
    overflow: clip;
}
.projects-div {
    position: relative; 
}
.projects-div img {
    transition: opacity 0.3s ease; 
}
.projects-hidden-text {
    color: white;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}
.projects-div:hover img {
    opacity: 0.9; 
}
.projects-div:hover .projects-hidden-text {
    opacity: 1; 
}

/* endregion */


/* === Region Footer === */

footer {
    width: 100vw;
    height: 8vh;   
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.social-media {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 5%;
}
#back-to-top {
    margin-left: 15px;
}



/* endregion */
