#games-container {
    background-color: gray;
    height: 800px;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    justify-content: center;
    padding: 20px;
}
.game {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: contain;
    border-radius: 10px; 
    transition: transform 0.3s ease;
}
.game:hover {
    transform: scale(1.05); 
}

.game-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); 
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-content {
    background: darkgray;
    padding: 20px;
    border-radius: 10px;
    min-height: 400px;
    min-width: 600px;
    text-align: center;
    line-height: 40px;
    position: relative;
}
#closeButton {
    margin-top: 20px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
}


/* ROCK PAPER SCISSORS PART */
.rock-paper-scissor-image {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.shake-animation {
    animation: shake 1s ease;
}

@keyframes shake {
    0% { transform: translateY(0); }
    25% { transform: translateY(-5px); }
    50% { transform: translateY(5px); }
    75% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}


/* ETCH A SKETCH PART */
.etch-container {
    display: grid;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    position: relative;
    left: 50px;
  }
  .etch-cell {
    border: 1px solid lightgray;
    background-color: white;
  }


  
  /* tic tac toe PART */ 
  .tic-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    gap: 5px; 
    width: 160px; 
    height: 160px;
    margin: 20px auto; 
}

.tic-cell {
    border: 2px solid black;
    width: 100%; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

/* wordle PAT */
#wordle-board {
    height: auto;
    width: auto;
}

.wordle-row {
    margin: 5px;
}

.wordle-cell {
    background-color: darkgray;
    color: blue;
    margin: 4px;
    height: 50px; 
    width: 50px;
    font-size: 3rem;
    text-align: center;
    box-sizing: border-box;
    line-height: 50px;
    padding: 0;
}   